.consoleMenuBar {
    height: 50px;
    background-color: rgb(95, 95, 95);
    display: flex;
    align-items: center;
}

.consoleMenuBar>.menuBtn {
    padding-right: 10px;
    margin-left: auto;
}

.consoleTop {
    color: white;
}

.datapoint {
    font-size: 1rem;
    font-weight: 500;
}

.cputime{
    margin-right: 10px;
}